<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358437745617-vbr5h39grag187jvb1f1vm3kvmornf0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358437745617-vbr5h39grag187jvb1f1vm3kvmornf0g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMCsSmp-kz5UGTaKjxr7tCM-n4Njb6-9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>358437745617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotfire</string>
	<key>PROJECT_ID</key>
	<string>spotfire-91475</string>
	<key>STORAGE_BUCKET</key>
	<string>spotfire-91475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358437745617:ios:90574d636658faa84566f0</string>
</dict>
</plist>